/* Example of CSS to add hover effect on anchor tag while preserving original icon color */
.instgram :hover {
  color: var(--instagram);
  
}

.custom-shape-divider-top-1715407462 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
  /* transform: rotate(180deg); */
}

.custom-shape-divider-top-1715407462 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 195px;
  transform: rotateY(180deg);
}

/* Define linear gradient */
.linear-gradient-fill {
  fill: url(#linear-gradient);
}

.custom-footer {
  position: relative;
  top: 100px;
}
