/* role */

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Discription */
.discription {
  /* width: 50%; */
}

/* button */
.homebutton .resumeButton,
.homebutton .SocialButton {
  /* border: 2px red solid; */
  border-radius: 7px;
  padding: 5px;
  margin: 7px;
  box-shadow: rgb(189, 195, 201) 0px 20px 30px -10px;
  transition: transform 0.3s ease;

}

.homebutton .resumeButton {
  background-color: var(--primary-color);
  /* box-shadow: rgb(253, 196, 53) 0px 20px 30px -10px; */

}
.homebutton .SocialButton {
  border: 2px var(--primary-color) solid;
}

.homebutton .resumeButton:hover,
.homebutton .SocialButton:hover {
  transform: scale(1.1)

}
/* shape */

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}

/* Blinking cursor animation */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
