.homebutton .resumeButton,
.homebutton .SocialButton {
  /* border: 2px red solid; */
  border-radius: 7px;
  padding: 5px;
  margin: 7px;
}
.underLineSkill {
  width: 70px;
  margin-top: 52px;
}
.Image {
  background-image: url("../../assets/image/skill.png");
  width: 480px;
  height: 400px;
  background-size: cover;
  margin: 20px;
  animation: skillanimate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes skillanimate {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateY(-50px);
  }
}
.iconAnimation {
  color: white;
  position: relative; /* Ensures the icon stays within its container */
  animation: iconAnimation 10s ease-in-out infinite;
}

@keyframes iconAnimation {
  0% {
    transform: translateY(-50px);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateX(50px);
  }
  60% {
    transform: translateY(50px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

/* skillIcon Css */
.text-shpere {
  position: relative;
  top: 0;
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.tagcloud {
  display: inline-block;
  top: 0;
  left: 0;
  height: 50vh;

  font-weight: 600;
  letter-spacing: 0.0625em;
  font-size: 1.3em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
  color: white;
  text-transform: uppercase;
}

.tagcloud--item:hover {
  color: var(--primary-color);
}

.text-sphere {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagcloud {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .Image {
      width: 300px;
      height: 250px;
      margin: auto;
  }
  .tagcloud{
    font-size: 1rem;
  }
}